.navbar-collapse{
	@include media($xs, $sm){
		background-color: $primary;
		li a{
			text-align: center;
		}
		.input-group{
			width: 90%;
			margin:0 auto;
		}
	}
	@include media($sm){
		background-color: transparent;
	}
}
.navbar{
	width:100%;
	margin-bottom:0px;
	position:absolute;
	top:0;
	background-color: transparent;
	border:0px;

	&-brand img{
		width: 100px;
	}
}

.navbar-toggle{
	float:left;
}
.input-group{
	width:250px;
	margin-top:0.5em;
}

.navbar-inverse .navbar-nav > .open > a{
	&:hover,&:focus{
		 background-color: $secondary;
	}
}
